/* Spacing Helper*/

/*Spacing*/
/* padding horizontal Small*/
.px-m {
  padding-left: 10px;
  padding-right: 10px;
}

.px-m {
  padding-left: 10px;
  padding-right: 10px;
}
/*margin -small*/
.m-s {
  margin: 5px;
}
.ml-s {
  margin-left: 5px;
}

.ml-m {
  margin-left: 8px;
}

/*Horizontal margin -small*/
.mx-s {
  margin-left: 5px;
  margin-right: 5px;
}

/*************************************Sizing Helper***************************/
/*font-size-large*/
.fs-l {
  font-size: 18px;
}
/*full-width*/
.f-width{
  width: 100%;
}
/*small-height*/
.sm-height {
  height: 1.8em;
}

/* padding left medium*/
.pl-s {
  padding-left: 5px;
}

/* Positionning Helper*/
.space-btw{
  display: flex;
  justify-content: space-between;
}

/* Dev css class to find quickly an element an element and see what's going wrong */
.dev-border {
  border: solid 1px black;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: : 10px;
}

body {
  background-color: #E9EBEE;
}
.banner{
  color: white;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
}
.banner-content{
  font-family: 'Nunito', sans-serif;
}

.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  width: 100%;
  height: 900px;
}

.photo {
  width: 120px;
  padding: 5px;

}

.card-header{
  display: flex;
}

.card-rating{
  width: 24px;
  border-left: 4px;
  padding: 5px;
}

.comments{
  background-color: #F6F7F9;
}

.rate {
  position: relative;
  color: #FED141;
  display: flex;
  justify-content: flex-end;
}

.card-content {
  padding: 5px;
}

#footer {
    background: #222222;
    padding: 30px 0;
    color: #CCCCCC;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
  z-index: 1;
}

.was-darkened {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  background-color: #222222;
}

.liked {
  color: #00BCD6;
}

.card-footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
}
